body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp2450191.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    
}

#pokedex{
    
    display: grid;
    width:700px;
    height: 55%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: aliceblue;
    border: 3px solid rgba(120, 224, 139, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 30px 40px;
    margin-bottom: 30px;

}
#pokemon{
    margin: 0 120px;
    width: 150px;
    border: 1px solid white;
    border-radius: 50%;
}
#display{
    border: 3px rgb(207, 235, 219) solid;
    border-radius: 10px;
    height: 150px;
    padding: 10px;
}

#Pname{
    border: none;
    width: 210px;
    height: 30px;
    background-color: rgb(207, 235, 219);
    border: 3px solid rgb(50, 49, 49);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

#btn{
    border: none;
    width: 150px;
    height: 30px;
    background-color: rgb(207, 235, 219);
    border: 3px solid rgb(50, 49, 49);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
}

#btn:hover{
    background-color: transparent;
    transform: scale(1.1);
}
#btn:active{
    background-color: rgb(207, 235, 219);
}
#Pname:hover{
    background-color: rgb(188, 219, 202);
    box-shadow: 1px 1px 20px rgb(188, 219, 202);
}
#Pname:active{
    background-color: rgb(207, 235, 219);
    transform: scale(1.01);
}

#generator{
    text-align: center;
    width: 80%;
    height: 30px;
    padding: 10px 20px;
}

#generator button{
    padding: 5px 20px;
    border: 3px solid rgb(190, 220, 190);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

#generator #randomName{
    padding: 7px 20px;
    background-color: rgb(233, 237, 234);
    border: 3px solid rgb(50, 49, 49);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    
}

.hov:hover{
    transform: scale(1.05);
}

.hov:active{
    background-color: rgba(190, 220, 190,0.9)
}


#reset{
    position: relative;
    bottom: 30px;
    left: 45%;

    padding: 5px 20px;
    border: 3px solid rgb(190, 220, 190);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}